body{
    height: 100vh;
    background: cover;
    background-color: black;
    display: flex;
    justify-cont
    ent: center;
    /* align-content: center; */
    align-items: center;
}
h1{
    /* size: 100px; */
    /* height: 100px; */
   background-color: red; 
}