body{
    height: 100vh;
    background: cover;
    background-color: rgb(167, 161, 161);
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
h1{
    /* size: 100px; */
    /* height: 100px; */
   background-color: rgb(252, 59, 59); 
}